# build
__pycache__/
.pytest_cache/
.ruff_cache/
.cache/
*.log
uv.lock
.venv/
.coverage
/dist
/tests/fixtures/libraries/
/htmlcov
/site
/docs/database_diagram.png
/build

# application/misc
*.db
*.db-journal
*.db.bak
